/* styles.css */
body {
   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    color: #333;
}

.gv-container {
  
    text-align: center;
    margin: 20px 0;
    padding: 0;
}

.Gv {
    display: inline-block;
    width: 100%; /* Ajusta el ancho según sea necesario */
    max-width: 100%; /* Máximo 100% del contenedor */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.PrimerIMG {
    text-align: center;
    margin: 20px 0;
}

    .PrimerIMG img {
        width: 100%;
        max-width: 500px; /* Ensure the images are of the same maximum width */
        height: auto; /* Maintain aspect ratio */
    }

.container {

    width: 100%;
    margin: 0 auto;
}

header {
    background-color: royalblue;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        height: 50px;
        margin-right: 10px;
    }

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

    nav a:hover {
        text-decoration: underline;
    }

section {
    background-image: url('imgFondo.png'); /* Asegúrate de que la ruta sea correcta */
    background-size: contain; /* Asegura que la imagen cubra todo el espacio del elemento */
    background-position: center; /* Centra la imagen en el elemento */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
.intro, .services {
    background: linear-gradient(to bottom right, #0033CC, #66CCFF);
    
    margin: 30px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text inside these sections */
}


h2, h3, h4 {
    color:#003366 ;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Centra la tabla en la página */
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%; /* Ajusta el ancho según sea necesario */
}

    /* Centra el contenido de las celdas */
    table td, table th {
        text-align: center;
        vertical-align: middle;
        padding: 10px; /* Ajusta el padding según sea necesario */
    }

.right-align {
    text-align: right; /* Alinear el contenido a la derecha */
}

.left-align {
    text-align: left; /* Alinear el contenido a la izquierda */
}

.center-align {
    text-align: center; /* Alinear el contenido al centro */
}

.auto-style10 {
    display: inline-block;    /* Ajusta el ancho según sea necesario */ 
    max-width: 100%; /* Máximo 100% del contenedor */

    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    .container {
        width: 100%;
    }
}
